@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../font/helveticaneue-thin-webfont.eot');
    src: url('../font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../font/helveticaneue-thin-webfont.woff') format('woff'),
         url('../font/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../font/helveticaneuecyr-bold-webfont.eot');
    src: url('../font/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../font/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../font/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;

}

body{
  background-color: #282828;
}
.list{
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 1320px;
  background-color: white;
  font-family: 'Helvetica Neue Regular',tahoma,arial;
}
.top{
  padding-top: 17px;
  padding-bottom: 5px;
  margin-left: 76px;

}
.tel{
  display: inline-block;
  font-family: arial;
  font-size: 19px;
  color: #7a8386;
}
.img-pfone{
  position: absolute;
  left: 52px;
  top: 18px;
}
.login{
  display: inline-block;
  width: 487px;
  background-color: #175274;
  color: white;
  margin-left: 6px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 2px;
  border-radius: 3px;
  
-webkit-box-shadow: 4px 4px 1px 0px rgba(180,180,180,0.49);
-moz-box-shadow: 4px 4px 1px 0px rgba(180,180,180,0.49);
box-shadow: 4px 4px 1px 0px rgba(180,180,180,0.49);

background: rgba(27,103,184,1);
background: -moz-linear-gradient(top, rgba(27,103,184,1) 0%, rgba(27,103,184,1) 3%, rgba(27,83,133,1) 28%, rgba(11,45,74,1) 76%, rgba(11,45,74,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,103,184,1)), color-stop(3%, rgba(27,103,184,1)), color-stop(28%, rgba(27,83,133,1)), color-stop(76%, rgba(11,45,74,1)), color-stop(100%, rgba(11,45,74,1)));
background: -webkit-linear-gradient(top, rgba(27,103,184,1) 0%, rgba(27,103,184,1) 3%, rgba(27,83,133,1) 28%, rgba(11,45,74,1) 76%, rgba(11,45,74,1) 100%);
background: -o-linear-gradient(top, rgba(27,103,184,1) 0%, rgba(27,103,184,1) 3%, rgba(27,83,133,1) 28%, rgba(11,45,74,1) 76%, rgba(11,45,74,1) 100%);
background: -ms-linear-gradient(top, rgba(27,103,184,1) 0%, rgba(27,103,184,1) 3%, rgba(27,83,133,1) 28%, rgba(11,45,74,1) 76%, rgba(11,45,74,1) 100%);s
}

.img-login{
  float: left;
  margin-left: 5px;
 
}

input[type="text"]{
  width: 108px;
  height: 14px;
  border-radius: 1px;
  border-color: white;
  margin-left: 4px;
  padding-left: 5px;
  border:none;
  font-size: 11px;
  
}
input[type="password"]{
  width: 108px;
  height: 14px;
  border-radius: 1px;
  border-color: white;
  padding-left: 5px;
  margin-left: 4px;
  border:none;
  font-size: 11px;
}
input[type="submit"]{
  color: white;
  background-color: inherit;
  border:none;
  border-right: 1px solid white;
  font-size: 11px;
}
.reg{
  color: white;
  text-decoration: none;
  font-size: 11px;
}
.pass{
  color: white;
  font-size: 11px;
  padding-left: 19px;
  letter-spacing: 1px;
}
.home{
  display: inline-block;
  width: 64px;
  height: 20px;
  border: 1px solid #d3d8da;
  border-radius: 12px;
  padding-left: 12px;
  padding-top: 1px;
  margin-left: 13px;
}
.img2{
  margin-top: 5px;
  margin-left: 46px;
  margin-bottom: 3px;
} 

                     /* начинается Хедер*/
header{
  width: 913px;
  height: 33px;
  background-color: #060707;
  margin-left: 44px;
  border-radius: 5px;
  margin-bottom: 13px;
  
-webkit-box-shadow: 2px 5px 6px -1px rgba(80,82,94,1);
-moz-box-shadow: 2px 5px 6px -1px rgba(80,82,94,1);
box-shadow: 2px 5px 6px -1px rgba(80,82,94,1);

background: rgba(77,86,99,1);
background: -moz-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 1%, rgba(27,29,32,1) 29%, rgba(5,5,6,1) 76%, rgba(5,5,6,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,86,99,1)), color-stop(1%, rgba(77,86,99,1)), color-stop(29%, rgba(27,29,32,1)), color-stop(76%, rgba(5,5,6,1)), color-stop(100%, rgba(5,5,6,1)));
background: -webkit-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 1%, rgba(27,29,32,1) 29%, rgba(5,5,6,1) 76%, rgba(5,5,6,1) 100%);
background: -o-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 1%, rgba(27,29,32,1) 29%, rgba(5,5,6,1) 76%, rgba(5,5,6,1) 100%);
background: -ms-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 1%, rgba(27,29,32,1) 29%, rgba(5,5,6,1) 76%, rgba(5,5,6,1) 100%);
background: linear-gradient(to bottom, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 1%, rgba(27,29,32,1) 29%, rgba(5,5,6,1) 76%, rgba(5,5,6,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5663', endColorstr='#050506', GradientType=0 );
}
.ab_comp{
  display: inline-block;
  margin-left: 120px;
  padding-top: 9px;
  padding-left: 7px;
  font-size: 14px;
}
.ab_comp a{
  color: white;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 18px;
  padding-left: 19px;
  border-radius: 12px;

}
.ab_comp a:focus{
  background-color: #0e3a5e;

}
.pay{
  display: inline-block;
  font-size: 14px;

}
.pay a{
  color: white;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 12px;
}
.pay a:focus{
  background-color: #0e3a5e;
}
.distr{
  display: inline-block;
  font-size: 14px;
}
.distr a{
  color: white;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 12px;
}
.distr a:focus{
 background-color: #0e3a5e;
}
.item{
  display: inline-block;
  font-size: 14px;
}
.item a{
  color: white;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 12px;
}
.item a:focus{
background-color: #0e3a5e;
}
.contact{
  display: inline-block;
  font-size: 14px;
}
.contact a{
  color: white;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 12px;
}
.contact a:focus{
  background-color: #0e3a5e;
}
header img{
  float: right;
  margin-right: 8px;
  margin-top: 8px;
}
header p{
  float: right;
  margin-top: 11px;
  margin-right: 83px;
  color: #868e92;
  font-size: 10px;
}
header span{
  float: right;
  margin-top: 11px;
  margin-right: 30px;
  color: #868e92;
  font-size: 10px;
}
/*Хедер закончен.Начинаются выпадающие менюшки*/
.serch_avto{
  float: left;
  width: 414px;
  height: 132px;
  border: 1px solid #b6b6b7;
  border-radius: 19px;
  margin-left: 49px;

-webkit-box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
-moz-box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
}
.serch_avto span{
  color: #154467;
}
.disc{
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: #154467;
  margin-left: 19px;
}
.disc span{
  font-size: 10px;
}

.serch{
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #154467;
  margin-left: 70px;
}
.serch span{
  font-size: 12px;
}
.wheel{
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: #154467;
  margin-left: 90px;
}
.wheel span{
  font-size: 10px;
}
.marka{
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  margin-left: 17px;
  margin-top: 12px;
}

.avto{
  display: inline-block;
  width: 100px;
  height: 17px;
  margin-left: 21px;
  border-bottom: none;
}
.marka2{
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 12px;
}

.avto2{
  display: inline-block;
  width: 100px;
  height: 17px;
  margin-left: 21px;
  border-bottom: none;
}
.model{
  display: inline-block;
  width: 70px;
  font-size: 9px;
  font-weight: bold;
  margin-left: 17px;
  margin-top: 4px;
}
.avto3{
  display: inline-block;
  width: 100px;
  height: 17px;
  margin-left: 3px;
  border-bottom: none;
}
.model_2{
  display: inline-block;
  width: 70px;
  font-size: 9px;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 4px;
}
.avto4{
  display: inline-block;
  width: 100px;
  height: 17px;
  margin-left: 3px;
  border-bottom: none;
}
.year{
  display: inline-block;
  width: 57px;
  font-size: 9px;
  font-weight: bold;
  margin-left: 17px;
  margin-top: 4px;
}
.year_sel{
  display: inline-block;
  width: 57px;
  height: 17px;
  margin-left: 16px;
  border-bottom: none;
}
.year2{
  display: inline-block;
  width: 57px;
  font-size: 9px;
  font-weight: bold;
  margin-left: 67px;
  margin-top: 4px;
}
.year_sel_2{
  display: inline-block;
  width: 57px;
  height: 17px;
  margin-left: 16px;
  border-bottom: none;
}
.complekt{
  display: inline-block;
  width: 57px;
  font-size: 9px;
  font-weight: bold;
  margin-left: 17px;
  margin-top: 10px;
}
.complekt_sel{
  display: inline-block;
  width: 100px;
  height: 17px;
  margin-left: 16px;
  border-bottom: none;
}
.complekt_2{
  display: inline-block;
  width: 57px;
  font-size: 9px;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 4px;
}
.complekt_sel_2{
  display: inline-block;
  width: 100px;
  height: 17px;
  margin-left: 16px;
  border-bottom: none;
}
.serch_avto input[type="submit"]{
  border: none;
  color: #154467;
  font-style: italic;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 336px;
}
.serch_avto_2{
  position: relative;
  float: left;
  width: 192px;
  height: 132px;
  border: 1px solid #b6b6b7;
  border-radius: 19px;
  margin-left: 13px;

-webkit-box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
-moz-box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
}
.box1{
    font-size: 13px;
    font-weight: bold;
    color: #154467;
    margin-left: 9px;
}
.box2{
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  margin-top: 17px;
  margin-left: 13px;
}
.box2_1{
  display: inline-block;
  width: 51px;
  height: 17px;
  margin-left: 8px;
  border-bottom: none;
}
.box2_2{
  display: inline-block;
}
.box2_3{
  display: inline-block;
  width: 52px;
  height: 17px;
  margin-left: 2px;
  border-bottom: none;
}
.box_R{
  display: inline-block;
  margin-left: 45px;
  margin-top: 10px;
  font-size: 11px;
  font-weight: bold;
}
.box2_5{
  display: inline-block;
  width: 45px;
  height: 17px;
  margin-left: 2px;
  border-bottom: none;
}
.box2_8{
  display: block;
}
.box2_6{
  float: left;
  font-size: 9px;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 15px;
}
.box2_7{
  float: left;
  font-size: 11px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 11px;
}
input[type="checkbox"]{
 width: 9px;
 height: 9px;
 color: white;
}
.clerfix:after{
  content: "";
  clear: both;
  display: block;
}
.serch_avto_2 input[type="submit"]{
    position: absolute;
    top: 105px;
    border: none;
    color: #154467;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 116px;
}
.serch_avto_3{
  float: left;
  width: 266px;
  height: 132px;
  border: 1px solid #b6b6b7;
  border-radius: 19px;
  margin-left: 9px;

  -webkit-box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
  -moz-box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
  box-shadow: 4px 4px 9px 0px rgba(165,165,165,0.53);
}

.serch_avto_3a{
  float: left;
  width: 175px;
  height: 106px;
  border-right: 1px solid #b6b6b7;
  margin-top: 1px;
}
.box3a_1{
  font-size: 13px;
  font-weight: bold;
  color: #154467;
  margin-left: 9px;
}
.box3a_2{
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin-left: 16px;
  margin-top: 9px;
}
.box3a_2 span{
  color: #154467;
  font-size: 10px;
}
.box3a_2_sel{
  display: inline-block;
  width: 57px;
  height: 17px;
  margin-left: 6px;
  margin-top: 3px;
  border-bottom: none;
}
.box3a_3{
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 3px;
}
.box3a_3 p{
  color: #154467;
}
.box3a_3_sel{
  display: inline-block;
  width: 35px;
  height: 17px;
  margin-left: 27px;
  margin-top: 3px;
  border-bottom: none;
}
.box3a_4{
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin-left: 16px;
}
.box3a_4 p{
  color: #154467;
}
.box3a_4_sel{
  display: inline-block;
  width: 35px;
  height: 17px;
  margin-left: 13px;
  border-bottom: none;
}

.serch_avto_3b{
  float: right;
  width: 69px;
  height: 106px;
  margin-right: 11px;
}
.serch_avto_3b span{
  font-size: 10px;
  font-weight: bold;
}
.serch_avto_3b p{
  color: #154467;
  font-size: 10px;
  font-weight: bold;
}
.box3b_1_sel{
  width: 59px;
  height: 17px;
}
.serch_avto_3 input[type="submit"]{
    border: none;
    color: #154467;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 190px;
}
                 /*Выпадающие менюшки закончены,ниже идёт левый сайд-бар*/


.catalog{
  float: left;
  width: 190px;
  margin-top: 19px;
  margin-left: 45px;
  color: #114165
}
.production{
  width: 180px;
  height: 26px;
  border: 1px solid #8b979c;
  border-radius: 14px;
  margin-bottom: 13px;
}
.circle{
  float: left;
  width: 11px;
  height: 11px;
  border: 5px solid #114165;
  border-radius: 10px;
  margin-top: 2px;
  margin-left: 3px;
}

.production span{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 3px;
}
.production img{
  float: left;
  margin-top: -2px;
}
.shina_disc{
  width: 150px;
  height: 26px;
  border: 1px solid #8b979c;
  border-radius: 14px;
}
.shina_disc span{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 3px;
}
.catalog ul{
  list-style-type: circle;
  margin-left: 55px;
}
.catalog ul li{
  padding-top: 4px;
  padding-bottom: 5px;
}
.catalog ul li a{
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #114165;
}
.catalog ul li a:hover{
  text-decoration: underline;
  font-style: italic;
  font-size: 14px;
}
          /*Левый Сайд-бар закончен! Ниже идет центральный блок*/
 
.main{
  float: left;
  margin-top: 16px;
  width: 527px;
  height: 626px;
  background-color: #e0e4e6;
  background-image: url(../img/background_center.png);
}
.goodyear{
  float: left;
  margin-left: 23px;
  text-align: center;
  font-weight: bold;
}
.goodyear a{
  text-decoration: none;
  color: #206988;
}
.goodyear p a{
  color: black;
  font-weight: 300;
  font-size: 13px;
}
.goodyear div{
  width: 137px;
  height: 127px;
  background-color: white;
  border: 2px solid #a7b1b4;
  border-radius: 10px;
  text-align: center;
}
.goodyear img{
  margin-top: 4px;
}

.nokian{
  float: left;
  margin-left: 26px;
  text-align: center;
  font-weight: bold;
}
.nokian a{
  text-decoration: none;
  color: #206988;
}
.nokian p a{
  color: black;
  font-weight: 300;
  font-size: 13px;
}
.nokian div{
  width: 137px;
  height: 127px;
  background-color: white;
  border: 2px solid #a7b1b4;
  border-radius: 10px;
  text-align: center;
}
.nokian img{
  margin-top: 4px;
}
.hankook{
  float: left;
  margin-left: 27px;
  text-align: center;
  font-weight: bold;
}
.hankook a{
  text-decoration: none;
  color: #206988;
}
.hankook p a{
  color: black;
  font-weight: 300;
  font-size: 13px;
}
.hankook div{
  width: 137px;
  height: 127px;
  background-color: white;
  border: 2px solid #a7b1b4;
  border-radius: 10px;
  text-align: center;
}
.hankook img{
  margin-top: 4px;
}

figure{
  margin-top: 15px;
}
figcaption{
  font-style: italic;

}



/*Ниже идёт правый сай-бар*/
.right{
  float: right;
  width: 190px;
  margin-top: 17px;
  margin-right: 38px;
  color: #114165
}
.brends{
  width: 180px;
  height: 26px;
  border: 1px solid #8b979c;
  border-radius: 14px;
  margin-bottom: 13px;
}
.brends img{
  float: left;
  margin-top: -2px;
}
.brends span{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 3px;
}
.shina_disc_right{
  width: 134px;
  height: 26px;
  margin-left: 14px;
  border: 1px solid #8b979c;
  border-radius: 14px;
}
.shina_disc_right span{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 3px;
}
.brends_check{
  margin-left: 21px;
  font-size: 14px;
  font-weight: bold;
  color: #114165
}
.brends_check li{
  margin-top: 7px;
  margin-bottom: 11px;
}
.right_form input[type="submit"]{
  margin-top: 10px;
  margin-left: 24px;
  width: 82px;
  height: 24px;
  background-color: #0e385d;
  color: white;
  border-radius: 10px;
  background: rgba(27,103,184,1);
background: -moz-linear-gradient(top, rgba(27,103,184,1) 0%, rgba(27,103,184,1) 3%, rgba(27,83,133,1) 28%, rgba(11,45,74,1) 76%, rgba(11,45,74,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,103,184,1)), color-stop(3%, rgba(27,103,184,1)), color-stop(28%, rgba(27,83,133,1)), color-stop(76%, rgba(11,45,74,1)), color-stop(100%, rgba(11,45,74,1)));
background: -webkit-linear-gradient(top, rgba(27,103,184,1) 0%, rgba(27,103,184,1) 3%, rgba(27,83,133,1) 28%, rgba(11,45,74,1) 76%, rgba(11,45,74,1) 100%);
background: -o-linear-gradient(top, rgba(27,103,184,1) 0%, rgba(27,103,184,1) 3%, rgba(27,83,133,1) 28%, rgba(11,45,74,1) 76%, rgba(11,45,74,1) 100%);
background: -ms-linear-gradient(top, rgba(27,103,184,1) 0%, rgba(27,103,184,1) 3%, rgba(27,83,133,1) 28%, rgba(11,45,74,1) 76%, rgba(11,45,74,1) 100%);
}

                      /*центральная часть закончена,начинается ФУТЕР*/

.footer_img{
  margin-top: 33px;
  margin-left: 158px;
}

footer{
  width: 910px;
  height: 100px;
  background-color: #213a4d;
  margin-top: 18px;
  margin-left: 45px;
}
.links{
  padding-top: 10px;
  margin-left: 285px;
}
.links a{
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  letter-spacing: 1px;
}
.links a:hover{
  color: #4792af;
}
.links_1,
.links_2,
.links_3,
.links_4{
  display: inline-block;
}
.links_2{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: white;
}
.links_3{
  border-right: 1px solid;
  border-color: white;
}
footer p{
  margin-top: 14px;
  margin-left: 379px;
  font-size: 10px;
  font-weight: bold;
  color: #6c4444;
}